.clients {

    h2 {

        @include breakpoint-up(medium){
            max-width: 18rem;
            margin: auto;
            margin-bottom: 1.3125rem;
        }
    }
    &__intro {
        margin-bottom: 3.75rem;

        @include breakpoint-up(medium){
            max-width: 28rem;
            margin: auto;
            margin-bottom: 2.3125rem;
        }
    }

    &__box {

        @include breakpoint-up(medium){
            display: grid;
            text-align: center;
            margin: auto;
        }

        @include breakpoint-up(large){
            max-width: 66%;
        }
    }

    &__stories {
        display: grid;
        gap: 8rem;

        @include breakpoint-up(medium){
            display: flex;
            gap: 2.0625rem;
        }
        
    }

    &__con {
        position: relative;
        display: grid;
        justify-items: center;
        padding-top: 3.375rem;
        padding-right: 1.25rem;
        padding-bottom: 4.0rem;
        padding-left: 1.25rem;
        height: 25.75rem;
        background-color: $bgcolor;

        &::after {
            content: "";
            position: absolute;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
            border-top: 100px solid transparent;
            bottom: -75px;
            border-top-color: $bgcolor;
            left: calc(50% - 60px);
            z-index: -1;
        }
    }

    &__comments{
        position: absolute;
        top: -4.6rem;
    }

    &__image1 {
        background-image: url('/assets/Ellipse\ 26.png');
    }

    &__image2 {
        background-image: url('/assets/Ellipse\ 25.png');
    }
}