.hero {
  @include breakpoint-up(large){    
    display: flex;
    align-items: center;
  }
    .container {
  
      @include breakpoint-up(large){  

      } 
       
    }

    &__background {
        background-color: $bgcolor;
        margin-bottom: 4rem;
        

      @include breakpoint-up(large){  
        margin-bottom: 7.75rem;
        padding-bottom: 2.25rem;
        height: 38.75rem;
      } 
    }

    &__vector {
      position: absolute;
      width: 14.3125rem;
      height: 21.1875rem;
      translate: -50% -50%;
      right: 48.5%;
      top: 299px;
      z-index: 0;
    }

    &__image {
        
      background-image: url('/assets/Hero-mobile.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 21.5rem;
      margin-bottom: 1.5rem;
      
      @include breakpoint-up(medium){
        min-height: 41rem;
        background-position: center 0%;
      }
  
      @include breakpoint-up(large){
        position: relative;
        max-width: 35.1875rem;
        background-size: 113%;
        flex: 3;
        order: 2;
        height: 35.313rem;
      }
    }

  &__detainer {
    position: absolute;
    top: 35.125rem;
    right: 0;
    padding: 1.5rem 5rem;
    border-radius: 0.5rem;
    height: 6.9375rem;
    width: 38.9375rem;
    background-color: $brandcolor;
    color: $text2;

    h3 {
      margin: 0;
      padding-bottom: 0.5rem;
      color: $text2;
    }

    .boxer {
      width: 31.1875rem;
      // height: 3.375rem;
    } 

    .details {
      
    }

    .para {
      width: 5rem;
      margin: 0;
    }
  }
  
  &__text {
    text-align: center;

    @include breakpoint-up(large){
      flex: 2;
      order: 1;
      text-align: left;
      width: 32.8125rem;
      margin-top: -2.437rem;
    }
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 2.25rem;

    @include breakpoint-up(large){    
      margin-bottom: 2.625rem;
      width: 45ch;
      font-size: 1rem;
    }
  }
 
}
  