.hero {
  @include breakpoint-up(large){    
    display: flex;
    align-items: center;
  }
    .container {
  
      @include breakpoint-up(large){  

      } 
       
    }

    &__background {
        background-color: $bgcolor;
    }
  
    &__image {
        
        background-image: url('/assets/Hero-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 21.5rem;
  
      @include breakpoint-up(medium){
        
      }
  
      @include breakpoint-up(large){
        flex: 3;
        order: 2;
        height: 41.3125rem;
        min-width: 42.375rem;
        
        
      }
  
      &::before, &::after {
        
      }
  
      &::before { 
  
      }
  
      &::after {
        
      }
    }
  
    &__text {
      text-align: center;

      @include breakpoint-up(large){
        flex: 2;
        order: 1;
        text-align: left;
      }
    }
    
    h1 {
      font-size: 2.8125rem;
      margin-top: 0px;
      margin-bottom: 1.5rem;
      width: 21ch;
    }

    .ctabtn {
      font-weight: 700;
      gap:1.9375rem;
    }
}
  