$brandcolor: hsl(220, 85%, 29%);
$accent: hsl(215, 37%, 22%);
$header: hsl(0, 0%, 24%);
$text1: hsl(0, 2%, 45%);
$text2: hsl(0, 0%, 100%);

// Font Sizes
$font-sm: 1rem; // 14px
$font-med: 1.125rem; // 18px
