.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 350ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 350ms ease-in-out forwards;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.bg {
  background-color: hsl(216, 29%, 93%);
}

h1,
h3 {
  line-height: 1.35;
  color: hsl(0, 0%, 24%);
  margin-top: 0px;
}

h2 {
  line-height: 1.35;
  color: hsl(0, 0%, 24%);
  margin-top: 0px;
  margin-bottom: 1.3125rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.3125rem;
}

.container {
  max-width: 77.5rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 64em) {
  .container--plr {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: hsl(0, 2%, 45%);
  font-weight: 300;
  line-height: 1.3;
  overflow-x: hidden;
}
body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.mb {
  margin-bottom: 4rem;
}
@media (min-width: 64em) {
  .mb {
    padding-bottom: 6.25rem;
  }
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.button {
  position: relative;
  display: inline-block;
  padding: 1.25rem 2.875rem;
  margin-left: 2.75rem;
  background-color: hsl(220, 85%, 29%);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.button:hover::before {
  opacity: 1;
}

.hide-for-mobile {
  display: flex;
}
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .container {
    padding-top: 0.375rem;
    padding-right: 1.5rem;
    padding-bottom: 1.375rem;
    padding-left: 1.5rem;
  }
}

@media (max-width: 63.9375em) {
  .hero h1 {
    font-size: 1.99rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 0px;
  }
}

@media (max-width: 63.9375em) {
  .header nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

@media (max-width: 63.9375em) {
  .button {
    margin-left: 0px;
  }
}

@media (min-width: 64em) {
  .header nav {
    padding-top: 2.1875rem;
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 64em) {
  .hero h1 {
    font-size: 2.1875rem;
    margin-top: 0px;
    margin-bottom: 1.3125rem;
    width: 21ch;
  }
}

@media (min-width: 64em) {
  .ctabtn {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 1.9375rem;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.colorh {
  color: hsl(0, 0%, 24%);
}

.position {
  z-index: 2;
  position: relative;
}

@media (min-width: 64em) {
  .center {
    width: 27.06rem;
    margin: auto;
  }
}

@media (min-width: 64em) {
  .pack {
    margin-top: 1.125rem;
    margin-bottom: 2.75rem;
  }
}

.gridser {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  height: 100vh;
}

ul li {
  position: relative;
}

ul li:before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0px;
  width: 25px;
  height: 113px;
  background: url(/assets/bullet.svg);
}

.custom-image {
  height: 8.1875rem;
  width: 19rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 0.5rem;
}

.header {
  background: hsl(216, 29%, 93%);
  font-size: 1rem;
}
.header.open .overlay {
  animation: fade-in 300ms ease-in-out forwards;
}
.header.open .header__menu > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__menu > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 3.75rem;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(hsl(214, 37%, 22%), transparent);
}
.header .overlay.fade-in {
  display: block;
}
.header__logo img {
  width: 6.375rem;
  height: 1.5rem;
}
.header__content {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%);
  background: hsl(0, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}
.header__content a {
  display: block;
  padding: 0.625rem;
  color: hsl(0, 2%, 45%);
  text-align: center;
}
.header__menu > span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: hsl(220, 85%, 29%);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 3px;
}
.header__links {
  position: relative;
  color: hsl(0, 2%, 45%);
  transition: color 300ms ease-in-out;
}
.header__links:not(:last-child) {
  margin-right: 80px;
}
.header__links::before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: -10px;
  background: hsl(220, 85%, 29%);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.header__links:hover {
  color: hsl(220, 85%, 29%);
}
.header__links:hover::before {
  opacity: 1;
}
.header__cta {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
  }
}
.hero__background {
  background-color: hsl(216, 29%, 93%);
  margin-bottom: 4rem;
}
@media (min-width: 64em) {
  .hero__background {
    margin-bottom: 7.75rem;
    padding-bottom: 2.25rem;
    height: 38.75rem;
  }
}
.hero__vector {
  position: absolute;
  width: 14.3125rem;
  height: 21.1875rem;
  translate: -50% -50%;
  right: 48.5%;
  top: 299px;
  z-index: 0;
}
.hero__image {
  background-image: url("/assets/Hero-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 21.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 40em) {
  .hero__image {
    min-height: 41rem;
    background-position: center 0%;
  }
}
@media (min-width: 64em) {
  .hero__image {
    position: relative;
    max-width: 35.1875rem;
    background-size: 113%;
    flex: 3;
    order: 2;
    height: 35.313rem;
  }
}
.hero__detainer {
  position: absolute;
  top: 35.125rem;
  right: 0;
  padding: 1.5rem 5rem;
  border-radius: 0.5rem;
  height: 6.9375rem;
  width: 38.9375rem;
  background-color: hsl(220, 85%, 29%);
  color: hsl(0, 0%, 100%);
}
.hero__detainer h3 {
  margin: 0;
  padding-bottom: 0.5rem;
  color: hsl(0, 0%, 100%);
}
.hero__detainer .boxer {
  width: 31.1875rem;
}
.hero__detainer .para {
  width: 5rem;
  margin: 0;
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
    width: 32.8125rem;
    margin-top: -2.437rem;
  }
}
.hero p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}
@media (min-width: 64em) {
  .hero p {
    margin-bottom: 2.625rem;
    width: 45ch;
    font-size: 1rem;
  }
}

.feature {
  text-align: center;
  margin-bottom: 4rem;
}
@media (min-width: 40em) {
  .feature h2 {
    font-size: 1.875rem;
  }
}
@media (min-width: 40em) {
  .feature {
    text-align: left;
    margin-bottom: 2.75rem;
  }
}
@media (min-width: 64em) {
  .feature {
    text-align: center;
    margin-bottom: 6.25rem;
  }
}
.feature__box {
  margin-bottom: 1.375rem;
}
@media (min-width: 40em) {
  .feature__box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.375rem;
  }
}
.feature__intro {
  margin-bottom: 3.75rem;
}
.feature__item {
  padding-top: 5.625rem;
  padding-bottom: 6.25rem;
  padding-left: 1.375rem;
  padding-right: 1.375rem;
  border-radius: 0.5rem;
}
@media (min-width: 40em) {
  .feature__item {
    flex: 0 0 50%;
    max-width: 20.917rem;
  }
}
@media (min-width: 64em) {
  .feature__item {
    max-width: 22.917rem;
  }
}
.feature__icon {
  margin-bottom: 1.875rem;
}
.feature__title {
  margin-bottom: 1rem;
}
.feature p {
  margin-bottom: 2.5625rem;
}

.choose {
  margin-bottom: 4rem;
  background-color: hsl(220, 85%, 29%);
}
@media (min-width: 40em) {
  .choose {
    text-align: left;
    margin-bottom: 2.75rem;
  }
}
@media (min-width: 64em) {
  .choose {
    text-align: center;
    margin-bottom: 6.25rem;
    padding-top: 3.625rem;
    padding-bottom: 6.25rem;
  }
}
@media (max-width: 63.9375em) {
  .choose .container {
    padding-top: 2.375rem;
  }
}
@media (min-width: 40em) {
  .choose h2 {
    font-size: 1.875rem;
  }
}
.choose h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.3125rem;
}
.choose h3 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.3125rem;
  font-size: 1.125rem;
}
@media (max-width: 39.9375em) {
  .choose h3 {
    margin-bottom: 0.313rem;
  }
}
.choose p {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1.5625rem;
  font-size: 1rem;
}
.choose__intro {
  margin-bottom: 1.75rem;
}
.choose__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.875rem;
}
@media (min-width: 64em) {
  .choose__box {
    display: flex;
    gap: 0;
  }
}
.choose__image {
  grid-column: span 1;
  height: 573px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("/assets/choose us.png");
  border-radius: 0.5rem;
}
@media (max-width: 39.9375em) {
  .choose__image {
    height: 20.0625rem;
  }
}
@media (min-width: 64em) {
  .choose__image {
    flex: 1;
  }
}
.choose__text {
  text-align: left;
  grid-column: span 1;
}
@media (min-width: 64em) {
  .choose__text {
    padding-top: 2.625rem;
    padding-right: 2.688rem;
    padding-bottom: 7.5rem;
    padding-left: 2.125rem;
    flex: 1;
  }
}

.services {
  margin-bottom: 4rem;
}
@media (min-width: 64em) {
  .services {
    text-align: center;
    margin-bottom: 6.25rem;
    padding-bottom: 6.25rem;
  }
}
.services h3 {
  margin-bottom: 0.4375rem;
  font-size: 1.125rem;
}
.services p {
  font-size: 1rem;
}
.services__intro {
  margin-bottom: 1.75rem;
}
.services__box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.875rem;
}
@media (min-width: 64em) {
  .services__box {
    display: flex;
    gap: 1.5rem;
  }
}
.services__pic {
  grid-column: span 1;
  height: 573px;
  width: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("/assets/Services.png");
  border-radius: 0.5rem;
}
@media (max-width: 39.9375em) {
  .services__pic {
    height: 20.0625rem;
  }
}
@media (min-width: 64em) {
  .services__pic {
    width: 38.125rem;
    flex: 1;
    order: 2;
  }
}
.services__flex {
  display: grid;
  text-align: center;
  justify-items: center;
}
@media (min-width: 40em) {
  .services__flex {
    text-align: left;
  }
}
@media (min-width: 40em) {
  .services__flex {
    display: flex;
  }
}
.services__gap {
  gap: 1.25rem;
}
.services__th {
  height: 5.625rem;
}
@media (max-width: 39.9375em) {
  .services__th {
    max-width: 20rem;
  }
}
.services__image1 {
  background-image: url("/assets/image1.png");
  background-position: top;
}
.services__image2 {
  background-image: url("/assets/image2.png");
  background-position: top;
}
.services__image3 {
  background-image: url("/assets/image3.png");
  background-position: top;
}
.services__text {
  text-align: left;
  flex: 1;
  order: 1;
}
@media (min-width: 40em) {
  .services__text {
    height: 28rem;
  }
}
@media (min-width: 64em) {
  .services__text {
    gap: 3.1rem;
  }
}

@media (min-width: 64em) {
  .partners__intro {
    text-align: center;
    margin-bottom: 3.625rem;
  }
}
.partners__box {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: center;
}
@media (min-width: 40em) {
  .partners__box {
    display: flex;
    height: 6.625rem;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 64em) {
  .partners__box {
    max-width: 60%;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */